@import "tailwindcss";

:root {
  --background: #faf8f5;
  --foreground: #2a2a2a;
  --text-color: #2a2a2a;
  --accent-color: #a25925;
  --white-border: #ffffff62;
  --black-border: #11111162;
}

@layer base {
  h1 {
    @apply text-3xl lg:text-4xl xl:text-5xl 2xl:text-6xl font-semibold leading-tight;
  }
  h2 {
    @apply text-3xl lg:text-4xl xl:text-5xl font-semibold leading-tight;
  }
  h3 {
    @apply font-bold text-xl lg:text-3xl;
  }

  h4 {
    @apply font-bold text-lg lg:text-2xl;
  }
  p {
    @apply text-sm lg:text-base leading-normal;
  }
}

body {
  scroll-behavior: smooth;
  background: var(--background);
  color: var(--text-color);
  font-family: var(--font-host-grotesk);
}

.container {
  width: 90% !important;
  max-width: 1400px !important;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 25s linear infinite;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Skeleton Animation */
@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-pulse {
  position: relative;
  overflow: hidden;
  background-color: #e5e7eb;
}

.animate-pulse::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    to right,
    transparent 0%,
    rgba(255, 255, 255, 0.1) 50%,
    transparent 100%
  );
  animation: shimmer 1.6s infinite;
}
